.Quote{
    display: flex;
    background: #dddbdb;
    border: 2px solid #00c205;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.TextPart + div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Quote button{
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #00c205;
    background: #ffffff;
    color: #dd2800;
}
.Quote button:hover{
    color: #00c205;
}