.Form{
    padding: 0 10px;
    margin: 0 auto;
    max-width: 700px;
}
.Inputs{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.Inputs > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Inputs input, .Inputs textarea{
    border-radius: 5px;
    border: 2px solid #00c205;
    padding: 10px;
}
.Inputs label{
    color: #dd2800;
    padding-bottom: 20px;
}

.Variants{
    padding: 5px;
    border-bottom: 2px solid #00c205;
}
.Variants label{
    background: #dddbdb;
    display: inline-block;
    border: 2px solid #00c205;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 15px;
    margin: 3px 10px;
}
.Form .btn{
    padding: 5px;
    font-size: 18px;
}