.Navigation{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #dd2800;
}
.Navigation h1{
    color: #dd2800;
    margin: 0;
}
.Navigation ul{
    margin: 0;
}
.Navigation li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.Navigation .Link{
    border: 3px solid #00c205;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #dd2800;
}
.Navigation .Link:hover{
    background: #dddbdb;
}
.active{
    background: #dddbdb;
}