.Quotes{
    margin: 10px auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}
.QCategories{
    width: 40%;
}
.ReceivedQuotes{
    width: 60%;
}
.QCategories ul{
    list-style: none;
}
.QCategories a{
    color: #000;
}
