.Quotes{
    margin: 10px auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}
.QCategories{
    border-radius: 10px;
    width: 40%;
}
.ReceivedQuotes{
    border-radius: 10px;
    padding: 20px;
    width: 60%;
}
.QCategories ul{
    list-style: none;
}
.QCategories a{
    color: #dd2800;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
